
<div class="trianglify-twisted">
  <div class="first-box">
    <div class="row">
      <div class="col col-md-11 title-question">
        <h1> <%= @questionstothiscase.first.case.name.upcase %> <%= @questionstothiscase.first.case.difficulty.html_safe  %> - <em> Your score </em></h1>
      </div>

      <div class="col col-md-1">
        <%= link_to '<i class="fas fa-chevron-circle-right"></i>'.html_safe, cases_path, class: "back text-right"  %>
      </div>
    </div>

     <div class="row">
      <div class="col col-md-12">

           <div class="score-bar blue stripes score-card-questions">
            <span style="width: <%= @questionstothiscase.first.case.attempts.last.score.to_i.fdiv(@questionstothiscase.length.to_i * 3) * 100 %>%"></span>
           </div>
              <p class="text-right">  Your score to this test: <%= @questionstothiscase.first.case.attempts.last.score %> / <%= @questionstothiscase.length.to_i * 3  %> </p>
        </div>
      </div>

    <div class="row">
      <div class="col col-md-12">
        <div class="container-index-blue">
          <H6> <strong> <em> <%=  @questionstothiscase.first.case.content.html_safe %> </em></strong></h6>
        </div>
      </div>
    </div>



    <% @questionstothiscase.reverse.each do  |question| %>
      <div class="row">
        <div class="col col-md-1">
          <div class="question-number">
            <h1> <%= question.position %></h1>
          </div>
        </div>
        <div class="col col-md-11">
          <div class="container-index-blue">
            <h6>
             <strong><%= question.content.gsub(/\n/,'<br>').html_safe %></strong>
            </h6>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-11 offset-md-1">
          <div class="container-question-index">
            <% if question.answer_ids.last.nil? %>
            <% elsif %>
              <h6>My answer:</h6>
              <p class="question-answer"> <%= Answer.find(question.answer_ids.last).content.html_safe %></p>
            <% end %>
              <h6>Correction: </h6>
              <p class="question-correction"> <%= question.correction.gsub(/\n/,'<br>').html_safe %></p>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>
