<div class="trianglify">
  <div class="title-box">
    <div>
      <%= link_to '<i class="fas fa-chevron-circle-left"></i>'.html_safe, cases_path, class: "back"  %>
    </div>
    <h1> <%= link_to @questions.first.case.name, case_path(@questions.first.case) %> </h1>
     <div class="score-card">
      <i class="fas fa-trophy"></i>
      <p>  Your overall score: <%=  current_user.score %>   </p>
      <p>  Your score to this test: <%= @questions.first.case.attempts.last.score %> / <%= @questions.length.to_i * 3  %> </p>
      </div>
  </div>


  <div class="container">
    <p> <strong> <em> <%=  @questions.first.case.content %> </em></strong></p>

    <% @questions.each do  |question| %>
      <p>
       <strong> <%= question.position %>. <%= question.content %></strong>
      </p>
        <% if question.answer_ids.last.nil? %>
        <% elsif %>
          <p class="question-answer"> <%= Answer.find(question.answer_ids.last).content %></p>
        <% end %>
       <p class="question-correction"> <%= question.correction %></p>
    <% end %>
  </div>
</div>
