<div class="trianglify">
  <div class="title-box ">
    <h1 class="title"> Case n°<%= @question.case.position  %>:  <%= @question.case.name %> </h1>
     <div class="timing">
      <i class="far fa-clock time-symbol"></i>
      <p> <%= @question.timing %> mins</p>
    </div>
  </div>

  <div class="container">
    <h2> Question n°<%=  @question.position %>: <%=  @question.content %></h2>
    <p> Your turn! ✌️ </p>
    <%= simple_form_for [@question, @answer] do |f| %>
      <%= f.input :content %>
      <%= f.submit "Send", :class => "btn btn-flat" %>
    <% end %>
  </div>

  </div>
</div>




