<div class="trianglify">
  <div class="title-box ">
    <h2 class="title"> Case n°<%= @question.case.position  %>:  <%= @question.case.name %> </h2>
     <div class="timing-question">
        <div id="startValuesAndTargetExample">
            <div class="values"></div>
        </div>
      <p id="questiontiming" data-timer="<%= @question.timing %>", data-url="<%= cases_url %>"> <em><strong> (<%= @question.timing  %> mins) </strong> </em> </p>
      </div>
  </div>


  <div class="container">
    <h4> Question n°<%=  @question.position %>: <%=  @question.content %></h4>
    <% if @question.photo.nil? %>
    <% else %>
      <%= cl_image_tag @question.photo, height: 300, width: 400, crop: :fill, class: "img-question" %>
    <% end %>
    <%= simple_form_for [@question, @answer] do |f| %>
      <%= f.input :content, input_html: { type: "textarea" }, placeholder: "Write as if you were in interviews, with well-structured, argument-based answers.", label: "Your turn! ✌️"%>
      <%= f.submit "Send", :class => "btn btn-flat", :id => "btn-send-timer" %>
    <% end %>
  </div>

  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>

