<div class="trianglify">
  <div class="title-box ">
    <h1 class="title"> Case n°<%= @question.case.position  %>:  <%= @question.case.name %> </h1>
     <div class="timing">
      <i class="far fa-clock time-symbol"></i>
      <p id="questiontiming" data-timer="<%= @question.timing %>", data-url="<%= cases_url %>"> <em><strong> <%= @question.timing  %> mins </strong> </em> </p>
        <div id="startValuesAndTargetExample">
            <div class="values"></div>
        </div>
    </div>
  </div>



  <div class="container">
    <h2> Question n°<%=  @question.position %>: <%=  @question.content %></h2>
    <%= simple_form_for [@question, @answer] do |f| %>
      <%= f.input :content, input_html: { class: "form-answer" }, placeholder: "Write as if you were in interviews, with well-structured, argument-based answers.", label: "Your turn! ✌️"%>
      <%= f.submit "Send", :class => "btn btn-flat", :id => "btn-send-timer" %>
    <% end %>
  </div>

  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>

