<div class="trianglify-twisted">
  <div class="first-box">
    <div class="row">
      <div class="col col-md-10">
        <h2 class="title-question"> <%= @question.case.name.upcase %> <%= @question.case.difficulty.html_safe  %> </h2>
      </div>
      <div class="col col-md-2">
        <div class="time-indication">
          <div class="timing-by-case">
            <i class="far fa-clock"></i>
            <p> <%= @question.timing %> mins </p>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">

        <div class="progress md-progress" style="height: 20px">
          <div class="progress-bar progress-bar-bis" role="progressbar" style="width: <%= @question.position.to_i.fdiv(@question.case.questions.last.position.to_i) * 100 %>%" aria-valuenow="<%= @question.position.to_i.fdiv(@question.case.questions.last.position.to_i) * 100%>" aria-valuemin="0" aria-valuemax="100">
          </div>

      </div>

      <p class="text-right"> <em> <%= @question.case.questions.last.position.to_i %> questions</em></p>

      </div>
    </div>
    <div>

    </div>
    <div class="row">

      <div class="col col-md-12">
        <div class="container-question-blue">
          <div class="question-text">
            <h5> <%=  @question.content.gsub(/\n/,'<br>').html_safe %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
          <% if @question.photo.nil? %>
          <% else %>
            <div class="container-question container-picture" style="background-image: url(<%=cl_image_path(@question.photo)%>)">
            </div>
          <% end %>
        </div>
      </div>

    <div class="row">
      <div class="col col-md-8">
        <div class="container-question">
          <%= simple_form_for [@question, @answer] do |f| %>
            <%= f.input :content, input_html: { type: "textarea", class: "your-turn" }, placeholder: "Ace here!", label: "Your answer: "%>
        </div>
      </div>
      <div class="col col-md-4">
          <div id="countdown">
            <svg class="mysvg">
              <circle style="animation-duration: <%= @question.timing * 60 %>s" r="46" cx="50" cy="50"></circle>
                <div id="startValuesAndTargetExample">
                    <div id="exact-timing" class="values"></div>
                </div>
            </svg>
          </div>
            <div class="next-question">
              <h3>NEXT</h3>
              <%= f.submit "", :class => "btn btn-next", :id => "btn-send-timer" do %>
                <div class="position-button-next">
                    <i class="fas fa-chevron-circle-right"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
      </div>
    </div>
  </div>
</div>









        <p id="questiontiming" data-timer="<%= @question.timing %>", data-url="<%= cases_url %>"> <em><strong> <% @question.timing  %> </strong> </em> </p>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>

