<div class="title-box-dashboard">
  <h1>My dashboard</h1>
</div>

<div class="container-profile">
  <div class="profile">
    <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :thumb, gravity: :face, class: "avatar-profile align-avatar" %>
  </div>

  <div class="profile-data">
    <h2>  <%=  @user.first_name %> <%=  @user.last_name.upcase %></h2>
    <p> <em> <%= @user.email %> </em></p>
  </div>
</div>

<h4 class="dashboard-title">Progression</h4 >
<div class="container-tabs">
  <ul class="list-inline tabs-underlined mytabs">
    <li>
      <%= link_to "Global", "#", class: "tab-underlined active" %>
    </li>
    <li>
      <%= link_to "By skills", skills_path, class: "tab-underlined" %>
    </li>
    <li>
      <%= link_to "By industry", industries_path, class: "tab-underlined" %>
    </li>
  </ul>
</div>

<div class="container-dashboard">

  <div class="dashboard">
    <p class="skill-name">Score</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.score.to_i %> points </h2>
        <p> Out of <%= Question.all.length * 3 %> points </p>
      </div>
      <%=  image_tag "audio.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.score.to_i.fdiv(Question.all.length * 3) * 100 %>%"></span>
    </div>
  </div>

  <div class="dashboard">
    <p class="skill-name">Cases done</p>
     <div class="dashboard-description">
      <div class="dashboard-description-content">
      <% if  @last_attempt_completed.nil?%>
        <h2> No case done </h2>
      <% else %>
        <h2> <%= @last_attempt_completed.case.position %>cases done </h2>
      <% end %>
      <p> Out of <%= Case.all.length %> cases </p>
      </div>
      <%=  image_tag "screen.svg", height: 50%>
    </div>
    <section>
      <ol class="progress-bar">
        <% @cases.each do |c| %>

          <% if c.attempts.last.nil? %>
            <li><span> <%= c.name %> </span></li>

          <% elsif c.attempts.last.completed == true && @last_attempt.case.position == c.position %>
            <li class="is-active"><span> <%= c.name %> </span></li>

          <% elsif c.attempts.last.completed == true %>
            <li class="is-complete"><span> <%= c.name %> </span></li>

          <% else %>
            <li><span> <%= c.name %> </span></li>

          <% end %>
        <% end %>
      </ol>
    </section>
  </div>



</div>

</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>


