
<div class="container-profile">
  <div class="profile">
    <% if @user.photo.url.nil? %>
      <%=  image_tag "avatar.png", width: 200, height: 200, class: "avatar-profile align-avatar", style: "background: grey" %>
    <% else %>
      <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :thumb, gravity: :face, class: "avatar-profile align-avatar" %>
    <% end %>
  </div>

  <div class="profile-data">
    <h2>  <%=  @user.first_name %> <%=  @user.last_name.upcase %></h2>
    <p> <em> <%= @user.email %> </em></p>
  </div>

  <!-- <div class="row companies-container set-your-obj">
    <h5> Set your objectives </h5>
  </div>

  <div class="row companies-container">
    <% @companies.each do |company| %>
      <div class= "col-sm-3 col col-xs-12 text-center">
        <% if company.followed_by?(@user) %>
            <%= link_to unfollow_path(company) do %>
              <div class="company-card company-active" style="background-image: url(<%=cl_image_path(company.logo) %>)">
              <%#= cl_image_tag company.logo, width: 100, height: 100, crop: :fill %>
              </div>
            <% end %>

        <% else %>
          <%= link_to follow_path(company) do %>
            <div class="company-card" style="background-image: url(<%=cl_image_path(company.logo) %>)">
              <%#= cl_image_tag company.logo, width: 100, height: 100, crop: :fill  %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div> -->

</div>

<% number_last_casedone = @last_attempt_completed.case.position %>
  <% number_questions = 0 %>
  <% for i in 1..number_last_casedone  %>
    <% current_case = Case.where(position: i) %>
    <% number_questions += Question.where(case_id: current_case.ids[0]).length.to_i %>
  <% end %>

<div class="score-comment">
  <h4>Progression</h4>
</div>
<div class="container-score-comment">
  <div>
    <% if @last_attempt_completed.nil? %>
      <h4 class="dashboard-title"> No case done. Start acing the case!</h4>

    <% elsif current_user.score.to_i.fdiv(number_questions * 3) < 0.33 %>
      <h4 class="dashboard-title"> Out of  <%= number_questions * 3 %> possible so far, you obtained <%= current_user.score %> / <%= number_questions * 3 %> </h4>
      <p class="dashboard-subtitle"> Keep practicing, practice makes perfect! </p>

    <% elsif current_user.score.to_i.fdiv(number_questions * 3) > 0.66 %>
      <h4 class="dashboard-title"> Your current score is <%= current_user.score %> / <%= number_questions * 3 %>. Excellent, keep up the good work!  </h4>
      <p class="dashboard-subtitle"> Keep practicing, practice makes perfect! </p>
    <% else %>
      <h4 class="dashboard-title"> Your current score is <%= current_user.score %> / <%= number_questions * 3 %>. Not bad, more practice is needed!  </h4>
      <p class="dashboard-subtitle"> Keep practicing, practice makes perfect! </p>
    <% end %>
  </div>
  <div class="container-tabs">
    <ul class="list-inline tabs-underlined mytabs">
      <li>
        <%= link_to "Global", dashboard_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "By skills", skills_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "By industry", "#", class: "tab-underlined active" %>
      </li>
    </ul>
  </div>
</div>



<div class="container-industries">
  <div class="dashboard-industries">
    <p class="skill-name">Consumer goods</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.consumer_goods.to_i %> points </h2>
        <% sum = 0 %>
        <% Case.where(industry: "Consumer goods").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "audio.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.consumer_goods.to_i.fdiv( sum * 3) * 100 %>%"></span>
    </div>
  </div>

  <div class="dashboard-industries">
    <p class="skill-name">Oil & gas</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.oil_and_gas.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Oil & gas").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "screen.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.oil_and_gas.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

  <div class="dashboard-industries">
    <p class="skill-name">Manufacturing</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.manufacturing.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Manufacturing").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "sofa.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.manufacturing.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

</div>

<div class="container-industries">
  <div class="dashboard-industries">
    <p class="skill-name">Financial services</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.financial_services.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Financial services").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "tablet.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.financial_services.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

  <div class="dashboard-industries">
    <p class="skill-name">Private Equity</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.private_equity.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Private Equity").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "computer.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.private_equity.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

  <div class="dashboard-industries">
    <p class="skill-name">Pharmaceuticals</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.pharmaceuticals.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Pharmaceuticals").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "megaphone.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.pharmaceuticals.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

</div>

<div class="container-industries">
  <div class="dashboard-industries">
    <p class="skill-name">Airline</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.airline.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Airline").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "audio.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.airline.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

  <div class="dashboard-industries">
    <p class="skill-name">TM & T</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.tmt.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Technology, Media & Telecommunication").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "screen.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.tmt.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

  <div class="dashboard-industries">
    <p class="skill-name">Public sector</p>
    <div class="dashboard-description">
      <div class="dashboard-description-content">
        <h2> <%= current_user.public_sector.to_i %> points </h2>
         <% sum = 0 %>
        <% Case.where(industry: "Public sector").each { |c| sum += c.questions.length }  %>
        <p> Out of <%= sum * 3 %> points </p>
      </div>
      <%=  image_tag "computer.svg", height: 50%>
    </div>
    <div class="score-bar blue stripes">
      <span style="width: <%= current_user.public_sector.to_i.fdiv(sum * 3) * 100 %>%"></span>
    </div>
  </div>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>


