<div class="trianglify">

  <div class="title-box">
    <h1 class="title-index">Your learning journey</h1>
  </div>

  <div class="container container-caseindex">
    <% @cases.each do |c| %>

      <% if @attempt.nil? %>
        <% if c.position == 1 %>
          <div class="card-title">
            <h2> <strong> Case n°<%= c.position %></strong> </h2>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
              <div class="card-product-infos">
                <h2><%= link_to c.name, case_path(c) %> - Take this case now ! </h2>
                <p> <strong>Industry:</strong>  <%= c.industry  %></p>
              </div>
            </div>
          </div>
          <% else %>
            <div class="card-title">
              <h2> <strong> Case n°<%= c.position %></strong> </h2>
              <div class="card-product-grey">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
                <div class="card-product-infos">
                  <h2><%= c.name %> </h2>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                </div>
              </div>
            </div>
           <% end %>

      <% else %>
        <% if Case.find(@attempt.case_id).position == c.position - 1 %>
          <div class="card-title">
            <h2> <strong> Case n°<%= c.position %></strong> </h2>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
              <div class="card-product-infos">
                <h2><%= link_to c.name, case_path(c) %> - Take this case now ! </h2>
                <p> <strong>Industry:</strong>  <%= c.industry  %></p>
              </div>
            </div>
          </div>

          <% elsif Case.find(@attempt.case_id).position > c.position - 1 %>
            <div class="card-title">
              <h2> <strong> Case n°<%= c.position %></strong> </h2>
              <div class="card-product-grey">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
                <div class="card-product-infos">
                  <h2><%= link_to c.name, case_questions_path(c) %> </h2>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                  <p> Completed : <i class="fas fa-check-circle"></i></p>
                </div>
                </div>
              </div>

            <% else %>
              <div class="card-title">
                <h2> <strong> Case n°<%= c.position %></strong> </h2>
                <div class="card-product-grey">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
                <div class="card-product-infos">
                  <h2><%= c.name %> </h2>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                  <p> <em> To be completed </em></i></p>
                </div>
                </div>
              </div>


      <% end %>
    <% end %>

    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>
