<div class="trianglify-twisted">
  <div class="first-box">
    <div class="row">
      <div class="col col-md-12">
        <h3> YOUR LEARNING JOURNEY </h3> <br>
      </div>
    </div>

<% number_last_casedone = @last_attempt_completed.case.position %>
  <% number_questions = 0 %>
  <% for i in 1..number_last_casedone  %>
    <% current_case = Case.where(position: i) %>
    <% number_questions += Question.where(case_id: current_case.ids[0]).length.to_i %>
  <% end %>

    <div class="row">
      <div class="col col-md-6">
        <h4 class="case-progression">Cases progression</h4>
        <% if @attempt.nil? %>
          <div class="progress md-progress" style="height: 20px">
              <div class="progress-bar progress-bar-bis" role="progressbar" style="width: <%= 0 %>%" aria-valuenow="<%= 0%>" aria-valuemin="0" aria-valuemax="100">
              </div>
          </div>
          <p class="text-right"> <em> 0 out of <%= @cases.last.position %> cases </em></p>
        <% else %>
          <div class="progress md-progress" style="height: 20px">
              <div class="progress-bar progress-bar-bis" role="progressbar" style="width: <%= Case.find(@attempt.case_id).position.to_i.fdiv(@cases.last.position.to_i) * 100 %>%" aria-valuenow="<%= Case.find(@attempt.case_id).position.to_i.fdiv(@cases.last.position.to_i) * 100%>" aria-valuemin="0" aria-valuemax="100">
              </div>
          </div>
          <p class="text-right"> <em> <%= Case.find(@attempt.case_id).position.to_i %> out of <%= @cases.last.position.to_i %> cases</em></p>

        <% end %>
      </div>

      <div class="col col-md-6">
        <h4 class="case-progression">Score progression</h4>
        <% if @attempt.nil? %>
          <div class="progress md-progress" style="height: 20px">
              <div class="progress-bar progress-bar-bis" role="progressbar" style="width: <%= 0 %>%" aria-valuenow="<%= 0%>" aria-valuemin="0" aria-valuemax="100">
              </div>
          </div>
          <p class="text-right"> <em> No questions taken so far </em></p>
        <% else %>
          <div class="progress md-progress" style="height: 20px">
              <div class="progress-bar progress-bar-bis" role="progressbar" style="width: <%= current_user.score.to_i.fdiv(number_questions * 3) * 100 %>%" aria-valuenow="<%= current_user.score.to_i.fdiv(number_questions * 3) * 100%>" aria-valuemin="0" aria-valuemax="100">
              </div>
          </div>
          <p class="text-right"> <em> <%= current_user.score.to_i %> points out of <%= number_questions * 3 %> points possible </em></p>

        <% end %>
      </div>

    </div>


  <div class="row">

    <div class="col col-md-12">
      <div class="container-question">
        <h4 class="disclaimer" >The cases are unlocked progressively, following your learning journey. Once done, you can only access directly the correction of the case, and cannot retake it.</h4>
    <% @cases.each do |c| %>

      <% if @attempt.nil? %>
        <% if c.position == 1 %>
          <div class="card-title">
            <h4> <strong> Case n°<%= c.position %></strong> </h4>
            <div class="card-product">
              <%=  image_tag "tablet.svg", width: 50 %>
                <div class="card-product-infos">
                    <h4 class="difficulty"><%= c.difficulty.html_safe %></h4>
                    <h4><%= link_to c.name, case_path(c), class: "case-name" %> - <%= link_to "", case_path(c), class: "btn btn-next-small" %> </h4>
                    <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                </div>
                <div class="time-indication">
                  <% total_time = 0 %>
                  <% c.questions.each do |q| %>
                    <% total_time += q.timing.to_i %>
                  <% end %>
                  <div class="timing-by-case">
                    <i class="far fa-clock"></i>
                    <p> <%= total_time %> mins </p>
                  </div>
                </div>
            </div>
          </div>

          <% else %>
            <div class="card-title">
              <h4> <strong> Case n°<%= c.position %></strong> </h4>
              <div class="card-product-grey">
                <%=  image_tag "sofa.svg", width: 50 %>
                <div class="card-product-infos">
                  <h4 class="difficulty"><%= c.difficulty.html_safe %></h4>
                  <h4><%= c.name %> </h4>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                </div>
                <div class="time-indication">
                  <% total_time = 0 %>
                  <% c.questions.each do |q| %>
                    <% total_time += q.timing.to_i %>
                  <% end %>
                  <div class="timing-by-case">
                    <i class="far fa-clock"></i>
                    <p> <%= total_time %> mins </p>
                  </div>
                </div>
              </div>
            </div>
           <% end %>

      <% else %>
        <% if Case.find(@attempt.case_id).position == c.position - 1 %>
          <div class="card-title">
            <h4> <strong> Case n°<%= c.position %></strong> </h4>
            <div class="card-product">
              <%=  image_tag "computer.svg", width: 100 %>
              <div class="card-product-infos">
                <h4 class="difficulty"><%= c.difficulty.html_safe %></h4>
                <h4><%= link_to c.name, case_path(c), class: "case-name" %> <%= link_to "", case_path(c), class: "btn btn-next-small" %> </h4>
                <p> <strong>Industry:</strong>  <%= c.industry  %></p>
              </div>
              <div class="time-indication">
                <% total_time = 0 %>
                <% c.questions.each do |q| %>
                  <% total_time += q.timing.to_i %>
                <% end %>
                <div class="timing-by-case">
                  <i class="far fa-clock"></i>
                  <p> <%= total_time %> mins </p>
                </div>
              </div>
            </div>
          </div>

          <% elsif Case.find(@attempt.case_id).position > c.position - 1 %>
            <div class="card-title">
              <h4> <strong> Case n°<%= c.position %></strong> <i class="fas fa-check-circle"></i> </h4>
              <div class="card-product-grey blue-card">
               <%=  image_tag "megaphone.svg", width: 100 %>
                <div class="card-product-infos">
                  <h4 class="difficulty"><%= c.difficulty.html_safe %></h4>
                  <h4><%= link_to c.name, case_questions_path(c), class: "case-name" %> </h4>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                  <!-- <p> Completed : <i class="fas fa-check-circle fa-check-circle-top"></i></p> -->
                </div>
                  <div class="time-indication">
                    <% total_time = 0 %>
                    <% c.questions.each do |q| %>
                      <% total_time += q.timing.to_i %>
                    <% end %>
                    <div class="timing-by-case">
                      <i class="far fa-clock"></i>
                      <p> <%= total_time %> mins </p>
                    </div>
                  </div>
                </div>
              </div>

            <% else %>
              <div class="card-title">
                <h4> <strong> Case n°<%= c.position %></strong> </h4>
                <div class="card-product-grey">
                <%=  image_tag "screen.svg", width: 100 %>
                <div class="card-product-infos">
                  <h4 class="difficulty"><%= c.difficulty.html_safe %></h4>
                  <h4><%= c.name %> </h4>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                  <!-- <p> <em> To be completed </em></i></p> -->
                </div>
                <div class="time-indication">
                  <% total_time = 0 %>
                  <% c.questions.each do |q| %>
                    <% total_time += q.timing.to_i %>
                  <% end %>
                  <div class="timing-by-case">
                    <i class="far fa-clock"></i>
                    <p> <%= total_time %> mins </p>
                  </div>
                </div>
                </div>
              </div>


      <% end %>
    <% end %>

    <% end %>
  </div>
    </div>
  </div>

  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>
