<div class="trianglify-twisted">
  <div class="first-box">
    <div class="row">
      <div class="col col-md-12">
        <h3> YOUR LEARNING JOURNEY </h3> <br>
      </div>
    </div>

  <div class="row">
    <div class="col col-md-12">
      <div class="container-question">
    <% @cases.each do |c| %>

      <% if @attempt.nil? %>
        <% if c.position == 1 %>
          <div class="card-title">
            <h4> <strong> Case n°<%= c.position %></strong> </h4>
            <div class="card-product">
              <%=  image_tag "tablet.svg", width: 100 %>
              <div class="card-product-infos">
                <h4><%= link_to c.name, case_path(c), class: "case-name" %> - Take this case now ! </h4>
                <p> <strong>Industry:</strong>  <%= c.industry  %></p>
              </div>
            </div>
          </div>
          <% else %>
            <div class="card-title">
              <h4> <strong> Case n°<%= c.position %></strong> </h4>
              <div class="card-product-grey">
                <%=  image_tag "sofa.svg", width: 100 %>
                <div class="card-product-infos">
                  <h4><%= c.name %> </h4>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                </div>
              </div>
            </div>
           <% end %>

      <% else %>
        <% if Case.find(@attempt.case_id).position == c.position - 1 %>
          <div class="card-title">
            <h4> <strong> Case n°<%= c.position %></strong> </h4>
            <div class="card-product">
              <%=  image_tag "computer.svg", width: 100 %>
              <div class="card-product-infos">
                <h4><%= link_to c.name, case_path(c), class: "case-name" %> - Take this case now ! </h4>
                <p> <strong>Industry:</strong>  <%= c.industry  %></p>
              </div>
            </div>
          </div>

          <% elsif Case.find(@attempt.case_id).position > c.position - 1 %>
            <div class="card-title">
              <h4> <strong> Case n°<%= c.position %></strong> </h4>
              <div class="card-product-grey">
               <%=  image_tag "megaphone.svg", width: 100 %>
                <div class="card-product-infos">
                  <h4><%= link_to c.name, case_questions_path(c), class: "case-name" %> </h4>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                  <p> Completed : <i class="fas fa-check-circle"></i></p>
                </div>
                </div>
              </div>

            <% else %>
              <div class="card-title">
                <h4> <strong> Case n°<%= c.position %></strong> </h4>
                <div class="card-product-grey">
                <%=  image_tag "screen.svg", width: 100 %>
                <div class="card-product-infos">
                  <h4><%= c.name %> </h4>
                  <p> <strong>Industry:</strong>  <%= c.industry  %></p>
                  <p> <em> To be completed </em></i></p>
                </div>
                </div>
              </div>


      <% end %>
    <% end %>

    <% end %>
  </div>
    </div>
  </div>

  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>
