

<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon <%= @myclass if defined? @myclass %> ">
  <%= link_to "Casebreaker", root_path, class: "navbar-brand nav-linkk" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Practice", cases_path, class: "nav-linkk pushdown-second" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class: "nav-linkk pushdown-first" %>
        </li>
        <li class="nav-item">
          <%= link_to "My companies", knowledge_path, class: "nav-linkk pushdown-third" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.url.nil? %>
            <%=  image_tag "avatar.png", width: 150, height: 150, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" } %>
          <% else %>
            <%= cl_image_tag current_user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" } %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_session_path, class: "nav-linkk" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
