<div class="trianglify-twisted">
  <div class="first-box">
    <div class="row">
      <div class="col col-md-12">
        <h2 class="title-question"> <%= @question.case.name.upcase %> <%= @question.case.difficulty.html_safe  %></h2>
      </div>

    </div>
    <div class="row">
      <div class="col col-md-12">

        <div class="progress md-progress" style="height: 20px">
          <div class="progress-bar progress-bar-bis" role="progressbar" style="width: <%= @question.position.to_i.fdiv(@question.case.questions.last.position.to_i) * 100 %>%" aria-valuenow="<%= @question.position.to_i.fdiv(@question.case.questions.last.position.to_i) * 100%>" aria-valuemin="0" aria-valuemax="100">
          </div>

      </div>


      <p class="text-right"> <em> <%= @question.case.questions.last.position.to_i %> questions</em></p>
            <h4 class="disclaimer">For qualitative questions, our correction algorithms is based on keywords, as there are specific notions you are meant to mention for qualitative questions. Thus, your score is indicative and not definitive. For quantitative questions, you should have the exact result to get the points. .</h4>

      </div>
    </div>
    <div>

    <div class="row">
      <div class="col col-md-4 offset-md-4">
        <div class="container-question container-correct">
          <p class="correctness"> <strong> <%= @answer.correctness %> </strong> </p>
        </div>
      </div>
      <div class="col col-md-4 position-of-button">
          <% if @next_question.nil? %>
          <h4 class="label-button">SEE MY SCORE</h4 class="label-button">
          <%= link_to "", case_questions_path(@question.case), class: "btn btn-next" %>
        <% else %>
          <h4 class="label-button">NEXT QUESTION</h4 class="label-button">
          <%= link_to "", question_path(@next_question), class: "btn btn-next" %>
        <% end %>
      </div>
    </div>



    </div>
    <div class="row">
      <div class="col col-md-12">
        <div class="container-question-blue">
          <div class="question-text">
            <h5> <%=  @question.content.gsub(/\n/,'<br>').html_safe %></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-12">
        <div class="container-question">
            <h6>Your answer</h6>
            <p class="question-answer"> <%= @answer.content.gsub(/\n/,'<br>').html_safe %></p>
        </div>
      </div>
<!--       <div class="col col-md-8">
        <div class="container-question">
          <h6>Correction</h6>
              <p class="question-correction"> <%= @question.correction.gsub(/\n/,'<br>').html_safe %></p>
        </div>
      </div> -->
    </div>

    <div class="row">
      <div class="col col-md-12">
        <div class="container-question">
          <h6>Correction</h6>
              <p class="question-correction"> <%= @question.correction.gsub(/\n/,'<br>').html_safe %></p>
        </div>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col col-md-12">
          <div class="container-question">
              <h6 class="best-answers">  What are other best candidates 5 best answers? 🙌 </h6>

                <% @answers.all.order('votes DESC').first(5).each do |answer| %>
                  <div class="notification">

                <% if @user.photo.url.nil? %>
                  <%=  image_tag "avatar.png", width: 150, height: 150, class: "avatar dropdown-toggle", style: "background: white" %>
                <% else %>
                  <%= cl_image_tag @user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle" %>
                <% end %>


              <div class="notification-content">
                <p class="answer-content"> <strong> <%= answer.attempt.user.first_name %>: </strong> <%=  answer.content.gsub(/\n/,'<br>').html_safe %>  </p>
              </div>
              <div class="notification-actions">
                <p><%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, voting_path(answer) %></p>
                  <p><%= answer.votes %> votes </p>
              </div>
            </div>
          <% end %>
        </div>
    </div>
 -->
</div>















    <div class="row next-quest-last">
      <div class="col col-md-4 offset-md-4">
        <div class="container-question container-correct">
          <p class="correctness"> <strong> <%= @answer.correctness %> </strong> </p>
        </div>
      </div>
      <div class="col col-md-4 position-of-button">
          <% if @next_question.nil? %>
          <h4 class="label-button">SEE MY SCORE</h4 class="label-button">
          <%= link_to "", case_questions_path(@question.case), class: "btn btn-next" %>
        <% else %>
          <h4 class="label-button">NEXT QUESTION</h4 class="label-button">
          <%= link_to "", question_path(@next_question), class: "btn btn-next" %>
        <% end %>
      </div>
    </div>

</div>
</div>
</div>
</div>
</div>
</div>


  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Get to the best consulting firms <i class="fas fa-heart"></i>
    </div>
  </div>

