<div class="trianglify-twisted">
  <div class="first-box">
    <div class="title-box">
      <h2 class="title"> <%= @question.case.name.upcase %> </h2>
    </div>



  <div class="container-short container container-question">
      <div class="question-content">
        <div class="question-number">
          <h1><%=  @question.position %></h1>
        </div>
        <div class="question-text">
          <h4> <%=  @question.content %></h4>
        </div>
      </div>

      <% if @question.photo.nil? %>
      <% else %>
        <%= cl_image_tag @question.photo, height: 300, width: 400, crop: :fill, class: "img-question" %>
      <% end %>
  </div>

  <div class="container-short container container-question">
    <p class="question-answer"> <strong>Your answer: </strong> <%= @answer.content.gsub(/\n/,'<br>').html_safe %></p>
    <p class="question-correction"> <strong> Correction:</strong> <%= @question.correction %></p>
  </div>

  <div class="container-short container container-question">

    <p class="correctness"> <strong> <%= @answer.correctness %> </strong> </p>

    <p> <strong> What are other best candidates 5 best answers? 🙌 </strong></p>

    <% @answers.all.order('votes DESC').first(5).each do |answer| %>
      <div class="notification">

    <% if @user.photo.url.nil? %>
      <%=  image_tag "avatar.png", width: 150, height: 150, class: "avatar dropdown-toggle", style: "background: white" %>
    <% else %>
      <%= cl_image_tag @user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle" %>
    <% end %>


        <div class="notification-content">
          <p class="answer-content"> <strong> <%= answer.attempt.user.first_name %>: </strong> <%=  answer.content.gsub(/\n/,'<br>').html_safe %>  </p>
        </div>
        <div class="notification-actions">
          <p><%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, voting_path(answer) %></p>
            <p><%= answer.votes %> votes </p>
        </div>
      </div>
    <% end %>
    <br>

    <% if @next_question.nil? %>
      <%= link_to "View my score", case_questions_path(@question.case), class: "btn btn-flat btn-answer" %>
    <% else %>
      <%= link_to "Next question", question_path(@next_question), class: "btn btn-flat btn-answer" %>
    <% end %>

  </div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>

</div>
