<%= content_for(:navbar_class, "navbar-home") %>

<div class="home-banner" id="home-banner-navbar">
  <!-- <div class="row"> -->
    <!-- <div class="col col-md-4"> -->
      <div class="first-picture">
        <%=  image_tag "computer.svg", width: 250 %>
      </div>
    <!-- </div> -->


    <div class="banner-content">
        <h1>Casebreaker</h1>
        <p>Make it to <span id="banner-typed-text"></span></p>

        <div class="payment">
          <% if current_user.nil? %>
            <%= link_to "Sign up", new_user_session_path, class: "btn btn-flat" %>
          <% elsif current_user.suscribed == true %>
              <%= link_to "Ace the case!", cases_path, class: "btn btn-flat" %>
          <% else %>
              <%= form_tag orders_path do %>
                <%= hidden_field_tag 'user_id', current_user.id %>
                <%= submit_tag 'Get my access', class: 'btn btn-flat' %>
              <% end %>
          <% end %>
        </div>
    </div>

    <!-- <div class="col col-md-4"> -->
       <div class="second-picture">
        <%=  image_tag "tablet.svg", width: 250 %>
        </div>
    <!-- </div> -->
  <!-- </div> -->
</div>




<div class="home-content">




  <div class="home-description">
    <p class="orange-text">LEARN</p>
    <h2> Ace the case with us!</h2>
    <p>Entrance to top-tier consulting firms is highly selective ! The best profiles are hired out of a pool of highly talented candidates, after several rounds of interviews.
    </p>
    <p>
      <strong>To get hired in top firms, no surprise : get a top preparation to case-cracking! Casebreaker will help you improve the three core consulting skills.</strong>
    </p>
    <%= link_to "Practice", cases_path, class: "btn btn-flat" %>
    <div class="fourth-picture">
      <%=  image_tag "sofa.svg", width: 380 %>
    </div>
  </div>

  <div>

    <div class="advantage-box">
      <div class="advantage">
        <%=  image_tag "interaction.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Logic and rigorous thinking
          </h3>
          <p>
            As in <strong> real consulting projects</strong>, candidates must deliver <strong> rigorous, well-structured end-products</strong>.
          </p>
        </div>
      </div>

      <div class="advantage">
        <%=  image_tag "work.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Business sense & culture
          </h3>
          <p>
              Logic alone is not enough. Consultants must prove strong <strong>business acumen</strong>.
          </p>
        </div>
      </div>

      <div class="advantage-last">
        <%=  image_tag "analytics.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Mathematics skills
          </h3>
          <p>
            Consultants  should back their analysis with <strong>data-driven reasoning</strong>.
          </p>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="product methodology-box">

      <div class="title">
      <h1>Benefit from our limited offer for 90€ !</h1>
    </div>

  <div class="payment center-payment">
      <% if current_user.nil? %>
        <%= link_to "Sign up", new_user_session_path, class: "btn btn-flat" %>
      <% elsif current_user.suscribed == true %>
          <%= link_to "Ace the case!", cases_path, class: "btn btn-flat" %>
      <% else %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'user_id', current_user.id %>
            <%= submit_tag 'Get my access', class: 'btn btn-flat' %>
          <% end %>
      <% end %>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2  class="value-prop">YOU ACCESS 10+ TOP QUALITY CASES LIBRARY<i class="fas fa-star"></i></h2>
          </div>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1556702167/Capture_d_e%CC%81cran_2019-05-01_a%CC%80_11.13.32.png", width: 400, height: 400, crop: :crop %>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2  class="value-prop">YOU TAKE YOUR ONLINE CASE-CRAKING LEARNING JOURNEY <i class="fas fa-pencil-alt"></i></h2>
          </div>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1556702168/Capture_d_e%CC%81cran_2019-05-01_a%CC%80_11.13.13.png", width: 400, height: 400, crop: :crop %>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2 class="value-prop">YOU OBTAIN PERSONNALIZED CORRECTION <i class="fas fa-rocket"></i></h2>
          </div>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1556702168/Capture_d_e%CC%81cran_2019-05-01_a%CC%80_11.12.56.png", width: 400, height: 400, crop: :fill %>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col col-md-4 offset-md-2">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2  class="value-prop">LEARN ABOUT CONSULTING FIRMS FOR FIT INTERVIEWS <i class="far fa-star"></i></h2>
          </div>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1560352588/Capture_d_e%CC%81cran_2019-06-12_a%CC%80_17.05.09.png", width: 400, height: 400, crop: :crop %>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2 class="value-prop">LEARN ABOUT FRAMEWORKS TO STRUCTURE YOUR ANSWERS <i class="fas fa-sitemap"></i></h2>
          </div>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1560352573/Capture_d_e%CC%81cran_2019-06-12_a%CC%80_17.05.25.png", width: 400, height: 400, crop: :fill %>
      </div>
    </div>
  </div>
</div>


<div class="methodology-box">



    <div class="title">
      <h1>Our alumni love us <i class="fas fa-heart"></i></h1>
    </div>

  <div class="methodology">

        <div class="avis">
          <div class="illustration-method" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1556103301/Capture_d_e%CC%81cran_2019-04-24_a%CC%80_12.53.01.png")%>)">
          </div>
          <div class="avis-container">
            <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1552920209/Logo-McKinsey.png") %>)">
              </div>
               <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1555307967/hec-paris-750x330_1.jpg") %>)">
              </div>
          </div>
          <div class="description-method">
             <p><em> « With Casebreaker, I got access to cases that are actually used in top consulting firms. It is much better than just preparing on old case books ! »  </em></p>
          </div>
        </div>

        <div class="avis">
          <div class="illustration-method">
              <%= cl_image_tag("https://res.cloudinary.com/dtzmk5eym/image/upload/v1556700184/0.jpg", width: 400, height: 400, crop: :thumb, gravity: :face, class: "avatar-avis")  %>
          </div>
          <div class="avis-container">
            <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1552920209/Logo-McKinsey.png") %>)">
              </div>
               <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1556700700/102041_32_48138a1d502233896e9150b568c1a563_large.png") %>)">
              </div>
          </div>
          <div class="description-method">
             <p><em> <strong> « With this interactive case-cracking tool, I was able to kick off my preparation without relying on other partners.  » </strong></em></p>
          </div>
        </div>

        <div class="avis">
          <div class="illustration-method">
              <%= cl_image_tag("https://res.cloudinary.com/dtzmk5eym/image/upload/v1556700856/0_1.jpg", width: 400, height: 400, crop: :thumb, gravity: :face, class: "avatar-avis")  %>
          </div>
          <div class="avis-container">
            <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1552920259/BCG_MONOGRAM_RGB_GREEN_tcm9-210235.png") %>)">
              </div>
               <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1556700960/743px-ESCP_Europe_Campus_Berlin_Logo.svg.png") %>)">
              </div>
          </div>
          <div class="description-method">
             <p><em> « The corrections are full of insights. With the dashboard, I was able to track my progress, and identify the areas I should keep working on. This was very helpful. »  </em></p>
          </div>
        </div>

  </div>



</div>


<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/getcasebreaker"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/14779414/admin/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Contact us : contact@case-breaker.com
  </div>
</div>
