<%= content_for(:navbar_class, "navbar-home") %>

<div class="home-banner">
  <div class="first-picture">
    <%=  image_tag "computer.svg", width: 300 %>
  </div>
  <div class="banner-content">
    <%= image_tag "agreement.svg", width: 60, class: "logo-home" %>
    <h1>Casebreaker</h1>
    <p>Make it to <span id="banner-typed-text"></span></p>
    <%= link_to "Start!", cases_path, class: "btn  btn-flat"  %>
  </div>
   <div class="second-picture">
    <%=  image_tag "tablet.svg", width: 300 %>
  </div>

</div>



<div class="home-content">
  <div class="home-description">
    <p class="orange-text">LEARN</p>
    <h2> Ace the case with us!</h2>
    <p>Entrance to top-tier consulting firms is highly selective ! Firms such as McKinsey & BCG are choosing the best out of a pool of highly talented candidates.
    </p>
    <p>
      To get hired in top firms, no surprise : get a top preparation to case-cracking!
    </p>
    <div class="fourth-picture">
      <%=  image_tag "sofa.svg", width: 380 %>
    </div>
  </div>

  <div>

    <div class="advantage-box">
      <div class="advantage">
        <%=  image_tag "interaction.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Logic and rigorous thinking
          </h3>
          <p>
            As in <strong> real consulting projects</strong>, candidates should <strong>structure a rigorous roadmap</strong> with clear priorities.
          </p>
        </div>
      </div>

      <div class="advantage">
        <%=  image_tag "work.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Business sense & culture
          </h3>
          <p>
              Logic alone is not enough. Consultants must prove strong <strong>business acumen</strong>.
          </p>
        </div>
      </div>

      <div class="advantage-last">
        <%=  image_tag "analytics.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Mathematics skills
          </h3>
          <p>
            Consultants are should back their analysis with <strong>data-driven analysis </strong>.
          </p>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="methodology-box">
    <div class="title"> <h1>Result-oriented learning journey</h1>


  <section>
    <p>Our case library</p>
    <ol class="progress-bar">
      <% @cases.each do |c| %>
          <li class="is-complete"><span> <%= c.name %> </span></li>
      <% end %>
    </ol>
  </section>
  </div>
  <div class="methodology">



    <div class="method">
      <div class="illustration-method">
         <%=  image_tag "audio.svg", height: 50, class: "illustration-picture" %>
         <h2>Top-quality case library</h2>
      </div>
      <div class="description-method">
         <p>
              Consultants are should back their analysis with <strong>data-driven analysis </strong>.
          </p>
      </div>

    </div>

    <div class="method">
      <div class="illustration-method">
          <%=  image_tag "megaphone.svg", height: 50, class: "illustration-picture" %>
         <h2>Interactive case-craking</h2>
      </div>
      <div class="description-method">
         <p>
              Consultants are should back their analysis with <strong>data-driven analysis </strong>.
          </p>
      </div>

    </div>

    <div class="method">
      <div class="illustration-method">
         <%=  image_tag "screen.svg", height: 50, class: "illustration-picture" %>
         <h2>Correction and results benchmarking</h2>
      </div>
      <div class="description-method">
         <p>
              Consultants are should back their analysis with <strong>data-driven analysis </strong>.
          </p>
      </div>

    </div>
  </div>

</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>
