<%= content_for(:navbar_class, "navbar-home") %>

<div class="home-banner" id="home-banner-navbar">
  <div class="first-picture">
    <%=  image_tag "computer.svg", width: 300 %>
  </div>
  <div class="banner-content">

    <h1>Casebreaker</h1>
    <p>Make it to <span id="banner-typed-text"></span></p>

    <div class="payment">
      <% if current_user.nil? %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-flat" %>
      <% elsif current_user.suscribed == true %>
          <%= link_to "Ace the case!", cases_path, class: "btn btn-flat" %>
      <% else %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'user_id', current_user.id %>
            <%= submit_tag 'Get my access', class: 'btn btn-flat' %>
          <% end %>
      <% end %>
    </div>


  </div>
   <div class="second-picture">
    <%=  image_tag "tablet.svg", width: 300 %>
  </div>

</div>

<div class="home-content">




  <div class="home-description">
    <p class="orange-text">LEARN</p>
    <h2> Ace the case with us!</h2>
    <p>Entrance to top-tier consulting firms is highly selective ! Firms such as McKinsey & BCG are choosing the best out of a pool of highly talented candidates.
    </p>
    <p>
      To get hired in top firms, no surprise : get a top preparation to case-cracking!
    </p>
    <div class="fourth-picture">
      <%=  image_tag "sofa.svg", width: 380 %>
    </div>
  </div>

  <div>

    <div class="advantage-box">
      <div class="advantage">
        <%=  image_tag "interaction.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Logic and rigorous thinking
          </h3>
          <p>
            As in <strong> real consulting projects</strong>, candidates should <strong>structure a rigorous roadmap</strong> with clear priorities.
          </p>
        </div>
      </div>

      <div class="advantage">
        <%=  image_tag "work.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Business sense & culture
          </h3>
          <p>
              Logic alone is not enough. Consultants must prove strong <strong>business acumen</strong>.
          </p>
        </div>
      </div>

      <div class="advantage-last">
        <%=  image_tag "analytics.svg", width: 50, class: "img-home" %>
        <div>
          <h3>
            Mathematics skills
          </h3>
          <p>
            Consultants are should back their analysis with <strong>data-driven analysis </strong>.
          </p>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="product methodology-box">

      <div class="title">
      <h1>Our offer starting at 200€</h1>
    </div>

  <div class="payment">
      <% if current_user.nil? %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-flat" %>
      <% elsif current_user.suscribed == true %>
          <%= link_to "Ace the case!", cases_path, class: "btn btn-flat" %>
      <% else %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'user_id', current_user.id %>
            <%= submit_tag 'Get my access', class: 'btn btn-flat' %>
          <% end %>
      <% end %>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2>Top quality cases</h2>
          </div>
          <h2 class="card-trip-pricing"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h2>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1553181980/caption.png", width: 400, height: 400, crop: :crop %>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2>Interactive case-cracking</h2>
          </div>
          <h2 class="card-trip-pricing"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h2>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1553181979/caption2.png", width: 400, height: 400, crop: :crop %>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card-method">
        <div class="card-trip-infos">
          <div>
            <h2>Professional corrections</h2>
          </div>
          <h2 class="card-trip-pricing"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h2>
        </div>
         <%= cl_image_tag "https://res.cloudinary.com/dtzmk5eym/image/upload/v1553181979/Capture_d_e%CC%81cran_2019-03-21_a%CC%80_16.05.54.png", width: 400, height: 400, crop: :crop %>
      </div>
    </div>
  </div>
</div>


<div class="methodology-box">



    <div class="title">
      <h1>Our alumni love us <i class="fas fa-heart"></i></h1>
    </div>

  <div class="methodology">

        <div class="avis">
          <div class="illustration-method">
             <%= cl_image_tag("https://res.cloudinary.com/dtzmk5eym/image/upload/c_thumb,g_face/v1554820806/pmvzu27jmas0lzjxb1y5.jpg", width: 400, height: 400, crop: :thumb, gravity: :face, class: "avatar-avis")  %>
          </div>
          <div class="avis-container">
            <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1552920209/Logo-McKinsey.png") %>)">
              </div>
               <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1555307967/hec-paris-750x330_1.jpg") %>)">
              </div>
          </div>
          <div class="description-method">
             <p><em> « Top-quality case library »  </em></p>
          </div>
        </div>

        <div class="avis">
          <div class="illustration-method">
              <%= cl_image_tag("https://res.cloudinary.com/dtzmk5eym/image/upload/c_thumb,g_face/v1554820806/pmvzu27jmas0lzjxb1y5.jpg", width: 400, height: 400, crop: :thumb, gravity: :face, class: "avatar-avis")  %>
          </div>
          <div class="avis-container">
            <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1552920209/Logo-McKinsey.png") %>)">
              </div>
               <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1555307967/hec-paris-750x330_1.jpg") %>)">
              </div>
          </div>
          <div class="description-method">
             <p><em> <strong> « Top-quality case library » </strong></em></p>
          </div>
        </div>

        <div class="avis">
          <div class="illustration-method">
              <%= cl_image_tag("https://res.cloudinary.com/dtzmk5eym/image/upload/c_thumb,g_face/v1554820806/pmvzu27jmas0lzjxb1y5.jpg", width: 400, height: 400, crop: :thumb, gravity: :face, class: "avatar-avis")  %>
          </div>
          <div class="avis-container">
            <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1552920209/Logo-McKinsey.png") %>)">
              </div>
               <div class="avis-card" style="background-image: url(<%=cl_image_path("https://res.cloudinary.com/dtzmk5eym/image/upload/v1555307967/hec-paris-750x330_1.jpg") %>)">
              </div>
          </div>
          <div class="description-method">
             <p><em> « Top-quality case library »  </em></p>
          </div>
        </div>

  </div>



</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Get to the best consulting firms <i class="fas fa-heart"></i>
  </div>
</div>
